:root {
  --novel-text-indent: 2rem;
  --novel-line-height: 2rem;
}

.workspace-leaf-content[data-mode="source"] .cm-content.novel-typeset {
  position: relative;
  text-indent: var(--novel-text-indent, 2rem);
  line-height: var(--novel-line-height, 2rem);
}
