/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
:root {
  --text-muted: var(--text-muted);
  --novel-typeset-indent: 2rem;
  --novel-typeset-line-height: 2rem;
  --novel-gridlines-size: 5px;
  --novel-gridlines-space: 10px;
  --novel-gridlines-thick: 1px;
  --novel-gridlines-opacity: 50%;
}

.novel-typeset .markdown-source-view:not(.lore-typeset) .cm-content {
  position: relative;
  text-indent: var(--novel-typeset-indent, 2rem);
  line-height: var(--novel-typeset-line-height, 2rem);
}

.novel-gridlines .markdown-source-view:not(.lore-gridlines) .cm-content::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-image: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent calc(var(--novel-typeset-line-height) - var(--novel-gridlines-thick)),
      color-mix(in srgb, var(--text-muted) var(--novel-gridlines-opacity), transparent) calc(var(--novel-typeset-line-height) - var(--novel-gridlines-thick)),
      color-mix(in srgb, var(--text-muted) var(--novel-gridlines-opacity), transparent) var(--novel-typeset-line-height)
  );
  mask-image: repeating-linear-gradient(
      to right,
      black 0,
      black var(--novel-gridlines-size),
      transparent var(--novel-gridlines-size),
      transparent var(--novel-gridlines-space)
  );
}

.nav-file-title .wordcount {
  display: none;
}

.novel-wordcount .nav-file-title .wordcount {
  display: flex;
  margin-left: auto
}
